#image-feature-container {
  button {
    border: none;
    outline: none;
    cursor: pointer;
  }

  ul {
    padding: 0;
  }

  .container {
    width: 550px;
    height: 600px;
    border: 1px solid #eee;
  }

  .center {
    display: block;
    margin: 0 auto;
  }

  .img-container {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: none;
  }

  .item-tile {
    padding: 2px;
    width: 53px;
    height: 53px;
    margin-left: 7px;
  }

  .item-tile:not(.selected) {
    outline: 1px solid #085eba;
  }

  .selected {
    border: 2px solid #49494a;
    outline: none;
    padding: 0;
  }

  .btn-tile {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
  }

  .img-tile {
    width: 45px;
    height: 45px;
    cursor: pointer;
  }

  .modal-bg {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
  }

  .modal-content {
    position: relative;
    background-color: #fff;
    text-align: center;
    max-height: 600px;
    padding: 30px 20px;
    margin: 15px 15px 130px;
    width: auto;
    overflow: auto;
  }

  .modal-bg .modal-content .close-btn {
    top: 0;
    right: 10px;
    font-size: 20px;
    color: #0046be;
    font-weight: 700;
    position: absolute;
  }

  .modal-bg .modal-content .close-btn:hover,
  .modal-bg .modal-content .close-btn:active {
    color: #000;
    cursor: pointer;
  }

  .modal-bg .modal-content .close-btn:focus {
    outline: aqua;
  }

  i.fas {
    font-size: 50px;
    color: #0046be;
  }

  .modal-img-container img {
    width: 80%;
  }

  .modal-img-container {
    display: flex;
    justify-content: center;
  }

  .disabled {
    color: #c5cbd5 !important;
    cursor: default;
  }

  .search-btn {
    border: 1px solid #333;
  }

  .modal-main-container {
    width: 80%;
    height: 30%;
    overflow: hidden;
  }

  .modal-main-img {
    cursor: zoom-in;
  }

  .main-img {
    width: 500px;
  }

  .image {
    width: 500px;
    height: 500px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}
